# BACKEND
atelier-backend/bin/
atelier-backend/obj/
MyApi/bin/
MyApi/obj/
MyApi/.vs/

# FRONTEND
atelier-frontend/node_modules/
atelier-frontend/build/

# IDE
.idea/

# SYSTEM
.DS_Store
*.log
*.user
*.suo
